@{
    ViewData["Title"] = "Add Category";


}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" runat="server" media="screen" href="~/css/EditGame_StyleSheet.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@model ManageGames.ViewModels.AddEditCategory;

<div class="">
    @*asp-action und controller reinpacken*@
    <form asp-controller=Home asp-action=AddCategory method="post">
        <fieldset>
            <legend>@ViewData["Title"]</legend>
            <div style="">
                <div style="">
                    <label class="textshit">Consolename:</label>
                    <input type=text name="categoryName" id="categoryName" required/>
                </div>

                <div style="text-align:right;">
                    <button class="add_resetbutton" type="submit">Save</button>
@*                    <input class="add_resetbutton" type="submit" value="Save"/>*@  
                </div>

            </div>


        </fieldset>
    </form>
    
</div>