@{
    ViewData["Title"] = "Add Category";
}
<link rel="stylesheet" runat="server" media="screen" href="~/css/AddEditGames.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@model ManageGames.ViewModels.AddEditCategory;

<div>
    <form asp-controller=Home asp-action=AddCategory method="post">
        <fieldset>
            <legend>@ViewData["Title"]</legend>
            <div>
                <div>
                    <label class="textshit">Consolename:</label>
                    <input type=text name="categoryName" required/>
                </div>

                <div class="editResetDiv">
                    <button type="submit">Save</button>
                </div>

            </div>

        </fieldset>
    </form>
    
</div>