@{
    ViewData["Title"] = "Add a Game";
}

<link rel="stylesheet" runat="server" media="screen" href="~/css/AddEditGames.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<script src="~/js/site.js" language="javascript" type="text/javascript"></script>
<style onload="fillUserID('userID')"></style>

@model ManageGames.ViewModels.AddGamesModel;

<div>
    <form method="post">
        <fieldset>
            <legend>@ViewData["Title"]</legend>
            <div>
                <div>
                    <label>Gamename:</label>
                    <input type=text name="gameName" required/>
                </div>

                <div>
                    <label>Console:</label>
                    <select name="consoles" required>
                        @for(int i=0;i<Model.ConsoleList.Count;i++)
                        {
                            <option selected=@(Model.ConsoleList[i].Console_Name.Equals("NoConsole")?true:false)
                             value="@Model.ConsoleList[i].ConsoleId">@Model.ConsoleList[i].Console_Name</option>        
                        }
                    </select>
                </div>
        
                <div>
                    <label>Wishlist:</label>
                    <input type="checkbox" name="wishlist" id="wishlist" value="true" />
                </div>

                <div>
                    <label>Gamecount:</label>
                    <input type="number" min=1 value=1 name="game_amount" required/>
                    <input name="userID" type="hidden" id="userID" value="" />
                </div>

                <div class="editResetDiv">
                    <button type="reset">Reset</button>
                    <button type="submit">Add</button>
                </div>

            </div>

        </fieldset>
    </form>

</div>
