@{
    ViewData["Title"] = "Categorylist";
}
@model ManageGames.ViewModels.CategoryListModel;
<link rel="stylesheet" runat="server" media="screen" href="~/css/list.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<script src="~/js/list.js" language="javascript" type="text/javascript"></script>


<div>
    <div>
        <h2 class="display-4">@ViewData["Title"]</h2>

        <form asp-controller="Home" asp-action="CategoryList" id="searchBarCategoryList">
            <p>
                <input placeholder="Title" type="text" name="searchString" />
                <button type="submit">Search</button>    
                <button type="button" onclick="resetButton('searchBarCategoryList');">Reset</button>
            </p>
        </form>
    </div>
    
    <div>
        <table>
            <tr>
                <th>Id</th>
                <th>Console</th>
                <th>Edit/Delete</th>
            </tr>

            @for (int i = 0; i< @Model.ConsoleList.Count ; i++)
            {
                <tr>
                    <td>@Model.ConsoleList[i].ConsoleId</td>
                    <td>@Model.ConsoleList.Where(x=>x.ConsoleId.Equals(Model.ConsoleList[i].ConsoleId)).First().Console_Name</td>
                    <td>
                        <div class="editDeleteDiv">
                            <form asp-controller="Home" asp-action="EditCategory" method="post">
                                    <input type="hidden" name="id" value=@Model.ConsoleList[i].ConsoleId />
                                    <button type="submit">Edit</button>
                            </form>
                            <form asp-controller="Home" asp-action="DeleteCategory" method="post">
                                    <input type="hidden" name="id" value=@Model.ConsoleList[i].ConsoleId />
                                    <button type="submit">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
    </table>
    </div>
</div>