@{
    ViewData["Title"] = "Edit Category";
}
<link rel="stylesheet" runat="server" media="screen" href="~/css/AddEditGames.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@model ManageGames.ViewModels.AddEditCategory;

<div>
    @*asp-action und controller reinpacken*@
    <form asp-controller=Home asp-action=SaveEditedCategory method="post">
        <fieldset>
            <legend>@ViewData["Title"]</legend>
            <div>

                <div>
                    <label>Consolename:</label>
                    <input type=text name="categoryName" value="@(Model.Console.Console_Name)" required/>
                    <input type="hidden" name="category_id" value="@Model.Console.ConsoleId"/>
                </div>

                <div class="editResetDiv">
                    <button type="submit">Save</button>
                </div>

            </div>

        </fieldset>
    </form>
    
</div>