<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ManageGames</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ManageGames.styles.css" asp-append-version="true" />
    <script src="~/js/site.js" language="javascript" type="text/javascript"></script>
    <style rel="stylesheet" onload="    loginFailed('@Html.Raw(ViewBag.FalscheAnmeldung)'); checkCookie('@Html.Raw(ViewBag.IsStartseite)'); checkMode();"></style>
     
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" id="navbaryeah">
            <div class="container-fluid">
                <a class="navbar-brand" id="HomeButton" asp-area="" asp-controller="Home" asp-action="Index">ManageGames</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" >
                        <li class="nav-item">
                            <a class="nav-link text-black premiumButton" style="display:none" asp-area="" asp-controller="Home" asp-action="Index">Game List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black premiumButton" style="display:none" asp-area="" asp-controller="Home" asp-action="AddGame">Add a Game</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black premiumButton" style="display:none" asp-area="" asp-controller="Home" asp-action="CategoryList">Category List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black premiumButton" style="display:none" asp-area="" asp-controller="Home" asp-action="AddCategory">Add Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black premiumButton" style="display:none" asp-area="" asp-controller="Home" asp-action="WishList">Wishlist</a>
                        </li>
                        <li class="nav-item">
                            <div></div>
                        </li>
                        <li class="nav-item">
                            <button id="logInButton" onclick="openLoginWindow()">Anmelden</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <form id="LogInForm" method="post" asp-controller="Home" asp-action="LoginValidation">
        <div class="LoginBox" >
            <h1 id="LogInCaption">Log In </h1>
            <div class="divAusenrum">
              <input type="text" name="username" value="David" required/>
              <label>Username</label>
            </div>

            <div class="divAusenrum">
              <input type="password" name="password" value="Madistinkt" required/>
              <label>Password</label>
            </div>

            <button type="submit">Login</button>
            <button onclick="event.preventDefault(); closeLoginWindow();">Cancel</button>
            @*<input type="submit" value="Login" />
            <input type="button" onclick="closeLoginWindow()" value="Cancel" />*@
        </div>
    </form>

    <div class="container" id="containerToBlurr" >
        <main role="main" style="width:100%;height:100%;" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ManageGames - <a href="https://youtu.be/G0YnhfvIgrU">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>

